*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
h1{
    text-align: center;
    border-bottom: 1.5pt dotted black;
    padding: 0.5cm;
}
.ár{
    float: right;
    font-size: 25px;
}
.hatter{
    background-image: url('hatter2.avif');
    height: 400vh;
    width: 310mm;
    margin: 0 auto;
}
body{
    background-image: url('hatter.jpg');
    background-size: 290vh;
    background-color: rgb(83, 83, 83);
    backdrop-filter: blur(8px);
    color: white;
}
.tartalom{
    padding: 0.5cm;
    margin: 0 auto;
}
.étel{
    padding: 0.5cm;
}
.italok{
    font-size: 30px;
}
.harmadiktartalom{
    padding: 0.5cm;
    margin: 0 auto;
}
.elsotartalom{
    background-size: cover;
    padding: 0.5cm;
    margin: auto;
}
.also{
    text-align: center;
    color: rgb(187, 187, 187);
}
.masodiktartalom{
    padding: 0.5cm;
    margin: 0 auto;
}
.kepek{
    text-align: center;
    padding: 0.2cm;
    margin: 0 auto;
}
.kep{
    width: 200px;
    transition: .2s;
}
.korkep{
    width: 240px;
    border-radius: 50%;
    transition: .2s;
}
.blur{
    backdrop-filter: blur(8px);
    height: 100%;
    width: 100%;
}
.kep:hover{
    transform: scale(1.3);
}
.korkep:hover{
    transform: scale(1.3);
}
.nagy{
    width: 50px;
    height: 50px;
}
